[submodule ".guides/html-treeview"]
	path = .guides/html-treeview
	url = https://github.com/codio-content/html-treeview.git
[submodule ".guides/specificity-calculator"]
	path = .guides/specificity-calculator
	url = https://github.com/codio-content/specificity-calculator.git
